In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_excel('../Data/animales-extincion.xlsx')
data

,TaxonID\n,Grupo taxonómico/ Nombre científico,grupo/animal,familia,tipo,Nombre común,Población referida,Listado de Especies Silvestres en Régimen de Protección Especial (LESRPE)/\nCategorías en el Catálogo Español de Especies Amenazadas (CEEA)
0,12235.0,Buprestis splendens,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
1,24227.0,Carabus (Mesocarabus) riffensis,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
2,24319.0,Cerambyx cerdo,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
3,24231.0,Chasmatopterus zonatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
4,36629.0,Dorysthenes (Opisognathus) forficatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
...,...,...,...,...,...,...,...,...
895,20093.0,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,NaN,LESRPE
896,20095.0,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,NaN,LESRPE
897,20096.0,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,NaN,LESRPE
898,20098.0,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,NaN,LESRPE
899,20099.0,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",NaN,Vulnerable

In [3]:
data.rename(columns={'TaxonID\n': 'animal.id'}, inplace=True)

In [4]:
data.rename(columns={'Grupo taxonómico/ Nombre científico': 'nombre cientifico'}, inplace=True)

In [5]:
data.rename(columns={'Listado de Especies Silvestres en Régimen de Protección Especial (LESRPE)/\nCategorías en el Catálogo Español de Especies Amenazadas (CEEA)': 'categoria/extincion'}, inplace=True)

In [6]:
data

,animal.id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,Población referida,categoria/extincion
0,12235.0,Buprestis splendens,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
1,24227.0,Carabus (Mesocarabus) riffensis,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
2,24319.0,Cerambyx cerdo,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
3,24231.0,Chasmatopterus zonatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
4,36629.0,Dorysthenes (Opisognathus) forficatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
...,...,...,...,...,...,...,...,...
895,20093.0,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,NaN,LESRPE
896,20095.0,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,NaN,LESRPE
897,20096.0,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,NaN,LESRPE
898,20098.0,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,NaN,LESRPE
899,20099.0,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",NaN,Vulnerable

In [7]:
data[(data['Nombre común'].isnull())]

,animal.id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,Población referida,categoria/extincion
0,12235.0,Buprestis splendens,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
1,24227.0,Carabus (Mesocarabus) riffensis,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
2,24319.0,Cerambyx cerdo,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
3,24231.0,Chasmatopterus zonatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,Vulnerable
4,36629.0,Dorysthenes (Opisognathus) forficatus,INVERTEBRADOS,INSECTA,Coleoptera,NaN,NaN,LESRPE
...,...,...,...,...,...,...,...,...
875,NaN,Delphinidae,MAMÍFEROS,CETACEA,NaN,NaN,NaN,NaN
890,NaN,NaN,MAMÍFEROS,CETACEA,NaN,NaN,NaN,NaN
891,NaN,Phocoenidae,MAMÍFEROS,CETACEA,NaN,NaN,NaN,NaN
893,NaN,NaN,MAMÍFEROS,CETACEA,NaN,NaN,NaN,NaN
894,NaN,Hyperoodontidae (antes Ziphiidae),MAMÍFEROS,CETACEA,NaN,NaN,NaN,NaN

In [8]:
null_1= data[(data['Nombre común'].isnull())]
null_1.index
data.drop(null_1.index, inplace=True)

In [9]:
data

,animal.id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,Población referida,categoria/extincion
6,12397.0,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,NaN,Vulnerable
9,11397.0,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,NaN,En peligro de extinción
10,68797.0,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,NaN,En peligro de extinción
13,32345.0,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",NaN,En peligro de extinción
20,11818.0,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,NaN,Vulnerable
...,...,...,...,...,...,...,...,...
895,20093.0,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,NaN,LESRPE
896,20095.0,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,NaN,LESRPE
897,20096.0,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,NaN,LESRPE
898,20098.0,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,NaN,LESRPE
899,20099.0,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",NaN,Vulnerable

In [10]:
data.rename(columns={'animal.id': 'animal_id'}, inplace=True)

In [11]:
data['animal_id'] = data['animal_id'].astype(int)

In [12]:
data

,animal_id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,Población referida,categoria/extincion
6,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,NaN,Vulnerable
9,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,NaN,En peligro de extinción
10,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,NaN,En peligro de extinción
13,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",NaN,En peligro de extinción
20,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,NaN,Vulnerable
...,...,...,...,...,...,...,...,...
895,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,NaN,LESRPE
896,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,NaN,LESRPE
897,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,NaN,LESRPE
898,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,NaN,LESRPE
899,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",NaN,Vulnerable

In [13]:
data.rename(columns={'Población referida': 'localizacion'}, inplace=True)

In [14]:
data.localizacion.fillna('unknown', inplace=True)

In [15]:
data

,animal_id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,localizacion,categoria/extincion
6,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,unknown,Vulnerable
9,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,unknown,En peligro de extinción
10,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,unknown,En peligro de extinción
13,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",unknown,En peligro de extinción
20,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,unknown,Vulnerable
...,...,...,...,...,...,...,...,...
895,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,unknown,LESRPE
896,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,unknown,LESRPE
897,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,unknown,LESRPE
898,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,unknown,LESRPE
899,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",unknown,Vulnerable

In [16]:
data.drop(columns=['localizacion'],inplace=True)

In [17]:
data

,animal_id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,categoria/extincion
6,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,Vulnerable
9,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,En peligro de extinción
10,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,En peligro de extinción
13,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",En peligro de extinción
20,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,Vulnerable
...,...,...,...,...,...,...,...
895,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,LESRPE
896,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,LESRPE
897,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,LESRPE
898,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,LESRPE
899,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",Vulnerable

In [18]:
data.reset_index(drop=True, inplace=True)

In [19]:
data

,animal_id,nombre cientifico,grupo/animal,familia,tipo,Nombre común,categoria/extincion
0,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,Vulnerable
1,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,En peligro de extinción
2,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,En peligro de extinción
3,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",En peligro de extinción
4,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,Vulnerable
...,...,...,...,...,...,...,...
510,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,LESRPE
511,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,LESRPE
512,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,LESRPE
513,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,LESRPE
514,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",Vulnerable

In [20]:
data.rename(columns={'nombre cientifico': 'nombre_cientifico'}, inplace=True)

In [21]:
duplicated_1=data[data.duplicated(subset=['animal_id', 'nombre_cientifico'], keep=False)]
duplicated_1.index

Index([ 67,  68, 231, 232, 234, 235, 252, 253, 288, 289, 439, 440, 495, 496,
       498, 499, 502, 503],
      dtype='int64')

In [22]:
indices_a_eliminar=[67,231,234,252,288,439,495,498,502]
data = data.drop(indices_a_eliminar)

In [23]:
data

,animal_id,nombre_cientifico,grupo/animal,familia,tipo,Nombre común,categoria/extincion
0,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,Vulnerable
1,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,En peligro de extinción
2,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,En peligro de extinción
3,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",En peligro de extinción
4,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,Vulnerable
...,...,...,...,...,...,...,...
510,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,LESRPE
511,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,LESRPE
512,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,LESRPE
513,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,LESRPE
514,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",Vulnerable

In [24]:
duplicated_2=data[data.duplicated(subset=['nombre_cientifico', 'Nombre común'], keep=False)]
duplicated_2

,animal_id,nombre_cientifico,grupo/animal,familia,tipo,Nombre común,categoria/extincion
229,11888,Burhinus oedicnemus oedicnemus/insularum,AVES,CHARADRIIFORMES,Burhinidae,"Alcaraván común, Alcaraván majorero",LESRPE
230,28443,Burhinus oedicnemus oedicnemus/insularum,AVES,CHARADRIIFORMES,Burhinidae,"Alcaraván común, Alcaraván majorero",LESRPE
434,12165,Emberiza schoeniclus whiterby/lusitanica,AVES,PASSERIFORMES,Emberizidae,Escribano palustre,En peligro de extinción
435,12164,Emberiza schoeniclus whiterby/lusitanica,AVES,PASSERIFORMES,Emberizidae,Escribano palustre,En peligro de extinción
457,16226,Myotis nattereri (=M. escalerai),MAMÍFEROS,CHIROPTERA,Vespertilionidae,Murciélago de Natterer,LESRPE
458,16227,Myotis nattereri (=M. escalerai),MAMÍFEROS,CHIROPTERA,Vespertilionidae,Murciélago de Natterer,LESRPE

In [25]:
indices_a_eliminar=[229,434,457]
data = data.drop(indices_a_eliminar)

In [26]:
data

,animal_id,nombre_cientifico,grupo/animal,familia,tipo,Nombre común,categoria/extincion
0,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,Vulnerable
1,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,En peligro de extinción
2,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,En peligro de extinción
3,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada ibérca, Blanquiverdosa azufrada",En peligro de extinción
4,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,Vulnerable
...,...,...,...,...,...,...,...
510,20093,Hyperoodon ampullatus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio calderón septentrional,LESRPE
511,20095,Mesoplodon densirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,LESRPE
512,20096,Mesoplodon europaeus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,LESRPE
513,20098,Mesoplodon mirus,MAMÍFEROS,CETACEA,Hyperoodontidae,Zifio de True,LESRPE
514,20099,Ziphius cavirostris,MAMÍFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio común",Vulnerable

In [30]:
from unidecode import unidecode

In [31]:
data = data.applymap(lambda x: unidecode(x) if isinstance(x, str) else x)

In [27]:
duplicated_2=data[data.duplicated(subset=['animal_id', 'Nombre común'], keep=False)]
duplicated_2

Empty DataFrame
Columns: [animal_id, nombre_cientifico, grupo/animal, familia, tipo, Nombre común, categoria/extincion]
Index: []

In [35]:
data.rename(columns={'Nombre comun': 'Nombre_comun'}, inplace=True)

In [36]:
data

,animal_id,nombre_cientifico,grupo/animal,familia,tipo,Nombre_comun,categoria/extincion
0,12397,Limoniscus violaceus,INVERTEBRADOS,INSECTA,Coleoptera,Escarabajo resorte,Vulnerable
1,11397,Pimelia granulicollis,INVERTEBRADOS,INSECTA,Coleoptera,Pimelia de las arenas,En peligro de extincion
2,68797,Rhopalomesites euphorbiae,INVERTEBRADOS,INSECTA,Coleoptera,Picudo de la tabaiba de monte,En peligro de extincion
3,32345,Euchloe bazae,INVERTEBRADOS,INSECTA,Lepidoptera,"Azufrada iberca, Blanquiverdosa azufrada",En peligro de extincion
4,11818,Maculinea nausithous,INVERTEBRADOS,INSECTA,Lepidoptera,Hormiguera oscura,Vulnerable
...,...,...,...,...,...,...,...
510,20093,Hyperoodon ampullatus,MAMIFEROS,CETACEA,Hyperoodontidae,Zifio calderon septentrional,LESRPE
511,20095,Mesoplodon densirostris,MAMIFEROS,CETACEA,Hyperoodontidae,Zifio de Blainville,LESRPE
512,20096,Mesoplodon europaeus,MAMIFEROS,CETACEA,Hyperoodontidae,Zifio de Gervais,LESRPE
513,20098,Mesoplodon mirus,MAMIFEROS,CETACEA,Hyperoodontidae,Zifio de True,LESRPE
514,20099,Ziphius cavirostris,MAMIFEROS,CETACEA,Hyperoodontidae,"Zifio de Cuvier, Zifio comun",Vulnerable

In [38]:
#data.to_csv('animales-peligro-extincion.csv', index=False)